body {
    background-color: lightgray;
}

.container {
    background-color: whitesmoke;
    margin-top: 50px;
    border-radius: 10px;
}

#excelInput {
    margin: 20px 0;
    border: 1px solid gray;
    width: 100%;
}

h2 {
    color: lightslategray;
    text-decoration: underline;
}

#botonBuscador {
    color: black;
}

#botonBuscador:hover {
    color: white;
}

table {
    margin-top: 20px;
}