body {
    background-color: lightgray;
}

.container {
    background-color: whitesmoke;
    margin-top: 50px;
    border-radius: 10px;
    margin-bottom: 100px;
}

#excelInput {
    margin: 20px 0;
    border: 1px solid gray;
    width: 100%;
}

h2 {
    color: lightslategray;
    text-decoration: underline;
}

#botonBuscador {
    color: black;
}

#botonBuscador:hover {
    color: white;
}

table {
    margin-top: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    background-color: gray;
    opacity: 80%;
    padding-top: 10px;
}